<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantastica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">
    <link rel="stylesheet" href="css/index.css">
</head>
<body>
	<form action="/busca" method="get">
		<input type="text" name="q" placeholder="Qual pizza você procura?" autocomplete="off" value="">
		<button type="submit">Buscar</button>
	</form>
	<main>
		<article>
			<img src="/img/calabresa.jpg" alt="calabresa">
			<a href="/pizza/1">Ver Mais</a>
			<button>+ Add</button>
			<div>Calabresa</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/fracatu.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Fracatu</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/marguerita.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Marguerita</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/quatroqueijos.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Quatro Queijos</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/calabresa.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Calabresa</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/fracatu.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Fracatu</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/marguerita.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Marguerita</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/quatroqueijos.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Quatro Queijos</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/calabresa.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Calabresa</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/fracatu.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Fracatu</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/marguerita.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Marguerita</div>
			<span>R$30,00</span>
        </article>
        <article>
			<img src="img/quatroqueijos.jpg" alt="calabresa">
			<a href="pizza.html">Ver Mais</a>
			<button>+ Add</button>
			<div>Quatro Queijos</div>
			<span>R$30,00</span>
        </article>
    </main>

</body>
</html>
