
<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<title>Pizzaria Fantastica</title>
	<link href="https://fonts.googleapis.com/css?family=Montserrat&display=swap" rel="stylesheet">
	<link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="/css/pizza.css">
</head>
<body>
    <header>
        <a href="/"><button>&larr; Voltar Página Inicial</button></a>
    </header>
	<main>
		<h1>Calabresa</h1>
		<h2>R$ 30,00</h2>
		<img src="/img/calabresa.jpg">
		<div>Ingredientes: Mussarela, Cebola e Calabresa</div>
		<button>+ Add</button>
    </main>

</body>
</html>